{% extends "base.html" %}
{% block title %}Browse {{ filter_value|title }}{% endblock %}

{% block content %}
    <div class="container py-4">
        <h2 class="mb-5">Explore More of {{ filter_value }}:</h2>
        <div class="row">
            {% for game in results %}
                <div class="col-sm-6 col-md-4 mb-4">
                    <div class="card text-light h-100">
                        <img src="{{ game.header_image }}" class="card-img-top" alt="{{ game.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ game.name }}</h5>
                                <p class="card-text">Released: {{ game.release_date }}</p>
                                <a href="{{ url_for('game_details', appid=game.appid) }}" class="btn btn-outline-light">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}