{% extends "base.html" %}
{% block title %}Game Details{% endblock %}

{% block content %}
    <div class="container py-4">
        <div class="text-center mb-4">
            <img src="{{ game.header_image }}" alt="{{ game.name }} Header Image" class="img-fluid rounded shadow-sm">
        </div>
        <h1 class="display-4 text-white text-center">{{ game.name }}</h1>
        <p class="release-date">Released: {{ game.release_date }}</p>
        <p class="developer text-center mb-1">Developer: {{ game.developer }}</p>
        <p class="publisher text-center mb-3">Publisher: {{ game.publisher }}</p>

        <div class="mt-4 px-3">
            <p class="lead text-center">{{ game.short_description.capitalize() }}</p>
        </div>
    </div>
{% endblock %}