{% extends "base.html" %}
{% block title %}Search for Games{% endblock %}

{% block content %}
    {% if results %}
        <div class="container py-4">
            <h1 class="mb-4">Search for a Game</h1>

            <form method="POST" class="mb-4">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Enter a keyword">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>           
                <h2 class="mb-3">Search Results:</h2>
                <div class="row">
                    {% for game in results %}
                        <div class="col-md-4 mb-4">
                            <div class="card bg-secondary text-light h-100">
                                <img src="{{ game.header_image }}" class="card-img-top" alt="{{ game.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ game.name }}</h5>
                                    <p class="card-text">Released: {{ game.release_date }}</p>
                                    <a href="#" class="btn btn-outline-light">View Details</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
    {% else %}
        {% if req_method == "POST" %}
            <div class="container py-5 text-center">
                <h1 class="mb-4">Search for a Game</h1>

                <form method="POST" class="w-50 mx-auto mb-4">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Enter a keyword">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>

                <p class="text-warning">No results found.</p>
            </div>
        {% else %}
            <div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
                <h1 class="mb-5 text-center display-4">Search for a Game</h1>

                <form method="POST" class="w-50 pb-3">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Enter a keyword">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>

            </div>
        {% endif %} 
    {% endif %}
{% endblock %}